body {
    background-color:#191414;
}
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
nav {
    background-color:#010B12;
    height: 65px;
    padding: 10px;
    color: white;
    display: flex;
    border-bottom: 18px solid #ffffff;


}
nav img {
    height: 53px;
}
ul {
   display: flex;
   
}
li {
    margin-left: 50px;
    padding: 17px;
    cursor: pointer;
    list-style: none;
    font-weight: bolder;
}
.ContentArea {
    background-image: url(https://cdn.pixabay.com/photo/2014/05/21/15/18/musician-349790_1280.jpg);
    height: 80vh;
    width: 110vh;   
    margin-top: 50px;
    margin-left: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
    border-radius: 14px;
    margin-bottom: 50px;


}


.ContentArea input {
    display: flex;
    justify-content: center;
    position: relative;
    top: 600px;
    left: 150px;
    width: 750px;
    cursor: pointer;
}
i {
    display: flex;
    position:relative;
    top: 700px;
    left: 230px;
    font-size: 50px;
    margin-left: 20px;
    justify-content: space-between;
    cursor: pointer;
}
#gif {
    position: relative;
    top: 300px;
    left: 330px;
    height: 100px;
    width: 400px;
    visibility: hidden;
}
.SongPlay {
    position: relative;
    top: 100px;
    left: 375px;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.LeftSongs {
position:absolute;
top: 175px;
left: 30px;
}
#Bollywood {
    position:absolute;
    top: 125px;
    left: 100px;
    color: white;
}
.Lsong1 {
    padding: 10px;
    display: flex;
    border: 1px solid #010B12;
    border-radius: 27px;
    background-color: #010B12;
}
#Limg1 {
    height: 40px;
    border-radius: 20%;
}
#Ltxt1 {
    color: white;
    padding: 10px;
} 

#Li1 {
    position: relative;
    top: 1px;
    left: 0px;
    color: white;
    font-size: 35px;
}
/* 2 */
.Lsong2 {
    padding: 10px;
    display: flex;
    border: 1px solid #010B12;
    border-radius: 27px;
    background-color: #010B12;
    margin-top: 20px;  
}
#Limg2 {
    height: 40px;
    border-radius: 20%;
}
#Ltxt2 {
    color: white;
    padding: 10px; 
} 

#Li2 {
    position: relative;
    top: 1px;
    left: 0px;
    color: white;
    font-size: 35px;
}
/* 3 */
.Lsong3 {
    padding: 10px;
    display: flex;
    border: 1px solid #010B12;
    border-radius: 27px;
    background-color: #010B12;
    margin-top: 20px;
}
#Limg3{
    height: 40px;
    border-radius: 20%;

}
#Ltxt3 {
    color: white;
    padding: 10px; 
} 

#Li3 {
    position: relative;
    top: 1px;
    left: 0px;
    color: white;
    font-size: 35px;
}
/* 4 */
.Lsong4 {
    padding: 10px;
    display: flex;
    border: 1px solid #010B12;
    border-radius: 27px;
    background-color: #010B12;
    margin-top: 20px;
}
#Limg4 {
    height: 40px;
    border-radius: 20%;

}
#Ltxt4 {
    color: white;
    padding: 10px; 
} 

#Li4 {
    position: relative;
    top: 1px;
    left: 0px;
    color: white;
    font-size: 35px;
}
/* 5 */
.Lsong5 {
    padding: 10px;
    display: flex;
    border: 1px solid #010B12;
    border-radius: 27px;
    background-color: #010B12;
    margin-top: 20px;
}
#Limg5 {
    height: 40px;
    border-radius: 20%;
}
#Ltxt5 {
    color: white;
    padding: 10px;  
} 

#Li5 {
    position: relative;
    top: 1px;
    left: 0px;
    color: white;
    font-size: 35px;
}
/* 6 */
.Lsong6 {
    padding: 10px;
    display: flex;
    border: 1px solid #010B12;
    border-radius: 27px;
    background-color: #010B12;
    margin-top: 20px;
}
#Limg6 {
    height: 40px;
    border-radius: 20%;
}
#Ltxt6 {
    color: white;
    padding: 10px;  
} 

#Li6 {
    position: relative;
    top: 1px;
    left: 0px;
    color: white;
    font-size: 35px;
}
/* 7 */
.Lsong7 {
    padding: 10px;
    display: flex;
    border: 1px solid #010B12;
    border-radius: 27px;
    background-color: #010B12;
    margin-top: 20px;
}
#Limg7 {
    height: 40px;
    border-radius: 20%;

}
#Ltxt7 {
    color: white;
    padding: 10px;  
} 

#Li7 {
    position: relative;
    top: 1px;
    left: 0px;
    color: white;
    font-size: 35px;
}
/* 8 */
.Lsong8 {
    padding: 10px;
    display: flex;
    border: 1px solid #010B12;
    border-radius: 27px;
    background-color: #010B12;
    margin-top: 20px;
}
#Limg8 {
    height: 40px;
    border-radius: 20%;

}
#Ltxt8 {
    color: white;
    padding: 10px;  
} 

#Li8{
    position: relative;
    top: 1px;
    left: 0px;
    color: white;
    font-size: 35px;
}
/* 9 */
.Lsong9 {
    padding: 10px;
    display: flex;
    border: 1px solid #010B12;
    border-radius: 27px;
    background-color: #010B12;
    margin-top: 20px;
}
#Limg9 {
    height: 40px;
    border-radius: 20%;

}
#Ltxt9 {
    color: white;
    padding: 10px;  
} 

#Li9 {
    position: relative;
    top: 1px;
    left: 0px;
    color: white;
    font-size: 35px;
}
/* 10 */
.Lsong10 {
    padding: 10px;
    display: flex;
    border: 1px solid #010B12;
    border-radius: 27px;
    background-color: #010B12;
    margin-top: 20px;
}
#Limg10 {
    height: 40px;
    border-radius: 20%;

}
#Ltxt10 {
    color: white;
    padding: 10px;  
} 

#Li10 {
    position: relative;
    top: 1px;
    left: 0px;
    color: white;
    font-size: 35px;
}
/* Right songs */
.RightSongs {
    position:absolute;
    top: 175px;
    right: 30px;
    }
    #Trending {
        position:absolute;
        top: 125px;
        right: 100px;
        color: white;
    }
    .Rsong1 {
        padding: 10px;
        display: flex;
        border: 1px solid #010B12;
        border-radius: 27px;
        background-color: #010B12;
        
    }
    #Rimg1 {
        height: 40px;
        border-radius: 20%;
    
    }
    #Rtxt1 {
        color: white;
        padding: 10px;
    
       
    } 
    
    #Ri1 {
        position: relative;
        top: 1px;
        left: 0px;
        color: white;
        font-size: 35px;
    }
    
    /* 2 */
    .Rsong2 {
        padding: 10px;
        display: flex;
        border: 1px solid #010B12;
        border-radius: 27px;
        background-color: #010B12;
        margin-top: 20px;
        
    }
    #Rimg2 {
        height: 40px;
        border-radius: 20%;
    
    }
    #Rtxt2 {
        color: white;
        padding: 10px;
    
       
    } 
    
    #Ri2 {
        position: relative;
        top: 1px;
        left: 0px;
        color: white;
        font-size: 35px;
    }
    /* 3 */
    .Rsong3 {
        padding: 10px;
        display: flex;
        border: 1px solid #010B12;
        border-radius: 27px;
        background-color: #010B12;
        margin-top: 20px;
    }
    #Rimg3{
        height: 40px;
        border-radius: 20%;
    
    }
    #Rtxt3 {
        color: white;
        padding: 10px;
    
       
    } 
    
    #Ri3 {
        position: relative;
        top: 1px;
        left: 0px;
        color: white;
        font-size: 35px;
    }
    /* 4 */
    .Rsong4 {
        padding: 10px;
        display: flex;
        border: 1px solid #010B12;
        border-radius: 27px;
        background-color: #010B12;
        margin-top: 20px;
    }
    #Rimg4 {
        height: 40px;
        border-radius: 20%;
    
    }
    #Rtxt4 {
        color: white;
        padding: 10px;
    
       
    } 
    
    #Ri4 {
        position: relative;
        top: 1px;
        left: 0px;
        color: white;
        font-size: 35px;
    }
    /* 5 */
    .Rsong5 {
        padding: 10px;
        display: flex;
        border: 1px solid #010B12;
        border-radius: 27px;
        background-color: #010B12;
        margin-top: 20px;
    }
    #Rimg5 {
        height: 40px;
        border-radius: 20%;
    
    }
    #Rtxt5 {
        color: white;
        padding: 10px;
    
       
    } 
    
    #Ri5 {
        position: relative;
        top: 1px;
        left: 0px;
        color: white;
        font-size: 35px;
    }
    /* 6 */
    .Rsong6 {
        padding: 10px;
        display: flex;
        border: 1px solid #010B12;
        border-radius: 27px;
        background-color: #010B12;
        margin-top: 20px;
    }
    #Rimg6 {
        height: 40px;
        border-radius: 20%;
    
    }
    #Rtxt6 {
        color: white;
        padding: 10px;
    
       
    } 
    
    #Ri6 {
        position: relative;
        top: 1px;
        left: 0px;
        color: white;
        font-size: 35px;
    }
    /* 7 */
    .Rsong7 {
        padding: 10px;
        display: flex;
        border: 1px solid #010B12;
        border-radius: 27px;
        background-color: #010B12;
        margin-top: 20px;
    }
    #Rimg7 {
        height: 40px;
        border-radius: 20%;
    
    }
    #Rtxt7 {
        color: white;
        padding: 10px;
    
       
    } 
    
    #Ri7 {
        position: relative;
        top: 1px;
        left: 0px;
        color: white;
        font-size: 35px;
    }
    /* 8 */
    .Rsong8 {
        padding: 10px;
        display: flex;
        border: 1px solid #010B12;
        border-radius: 27px;
        background-color: #010B12;
        margin-top: 20px;
    }
    #Rimg8 {
        height: 40px;
        border-radius: 20%;
    
    }
    #Rtxt8 {
        color: white;
        padding: 10px;
    
       
    } 
    
    #Ri8{
        position: relative;
        top: 1px;
        left: 0px;
        color: white;
        font-size: 35px;
    }
    /* 9 */
    .Rsong9 {
        padding: 10px;
        display: flex;
        border: 1px solid #010B12;
        border-radius: 27px;
        background-color: #010B12;
        margin-top: 20px;
    }
    #Rimg9 {
        height: 40px;
        border-radius: 20%;
    
    }
    #Rtxt9 {
        color: white;
        padding: 10px;
    
       
    } 
    
    #Ri9 {
        position: relative;
        top: 1px;
        left: 0px;
        color: white;
        font-size: 35px;
    }
    /* 10 */
    .Rsong10 {
        padding: 10px;
        display: flex;
        border: 1px solid #010B12;
        border-radius: 27px;
        background-color: #010B12;
        margin-top: 20px;
    }
    #Rimg10 {
        height: 40px;
        border-radius: 20%;
    
    }
    #Rtxt10 {
        color: white;
        padding: 10px;
    
       
    } 
    
    #Ri10 {
        position: relative;
        top: 1px;
        left: 0px;
        color: white;
        font-size: 35px;
    }
    @media only screen and (min-width: 1148px) {
        .ContentArea {
            width: 84vh;
        }
        i {
            position: relative;
            left: 20    0px;
        }
        #Progressbar {
            position: relative;
            left: 0px;
        }
        
        .SongPlay {
            position: relative;
            left: 165px;
        }
        #gif {
            Position: relative;
            left: 120px;
        }
    }